
*{
		border: solid;
	}

.header{
	background-color: cadetblue;
	display: flex;
	justify-content: space-between;
}

.grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.footer{
	display: flex;
	justify-content: flex-end;
}

h2,p{
	text-align : center; 
}

body{
	background-color:rgb(13,168,150);
}
p{
	color: rgb(255,0,93);
	font-size: 30px;
	font-family: freestyle-script;
	font-weight: 400;
}

h1{
	color: rgb(255,140,162);
}

.menu{
	margin-right: 30px
}

.menu a{
	margin-left: 20px 
} 

.item {
	position: relative;
}

.item p{
	position: absolute;
	top: 50% ;
	left: 50% ;
	transform: translate(-50%,-50%);
	opacity: 0;
}

.item:hover p{
	opacity: 1;
}

.item:hover img {
	opacity: 0.33
}